h1{
    padding-left: 412px;
}
#box1{
    background-color: #131413;
    width: 100px;
    height: 150px;
    margin-left: 330px;
    margin-top: 48px;
}
#box2{
    background-color: #387338;
    width: 100px;
    height: 150px;
    margin-left: 448px;
    margin-top: -150px;
}
#box3
{
    background-color: #2eb92e;
    width: 100px;
    height: 150px;
    margin-left: 566px;
    margin-top: -150px;
}
#box4{
    background-color: #07f807;
    width: 100px;
    height: 150px;
    margin-left: 681px;
    margin-top: -150px;
}
#box5{
    background-color: #b8f1b4;
    width: 100px;
    height: 150px;
    margin-left: 795px;
    margin-top: -150px;
}
#box6{
    background-color: #f8910b;
    width: 100px;
    height: 150px;
    margin-left: 215px;
    margin-top: 20px;
}
#box7{
    background-color: #f80b2b;
    width: 100px;
    height: 150px;
    margin-left: 330px;
    margin-top:-150px;
}
#box8{
    background-color: #e766f3;
    width: 100px;
    height: 150px;
    margin-left: 447px;
    margin-top:-150px; 
}
#box9{
    background-color: #45046b;
    width: 100px;
    height: 150px;
    margin-left: 565px;
    margin-top:-150px; 
}
#box10{
    background-color: #17046b;
    width: 100px;
    height: 150px;
    margin-left: 681px;
    margin-top:-150px; 
}
#box11{
    background-color: #0d1dfc;
    width: 100px;
    height: 150px;
    margin-left: 797px;
    margin-top:-150px; 
}
#box12{
    background-color: #625797;
    width: 100px;
    height: 150px;
    margin-left: 911px;
    margin-top:-150px;
}
#box13{
    background-color: #35314b;
    width: 100px;
    height: 150px;
    margin-left: 911px;
    margin-top:23px;
}
#box14{
    background-color: #260231;
    width: 100px;
    height: 150px;
    margin-left: 1025px;
    margin-top:-149px;
}
#box15{
    background-color: #0d493a;
    width: 100px;
    height: 150px;
    margin-left: 797px;
    margin-top:-149px;
}
#box16{
    background-color: #12fdc3;
    width: 100px;
    height: 150px;
    margin-left: 680px;
    margin-top:-149px;
}
#box17{
    background-color: #1f0201;
    width: 100px;
    height: 150px;
    margin-left: 565px;
    margin-top:-149px;
}
#box18{
    background-color: #f7096c;
    width: 100px;
    height: 150px;
    margin-left: 447px;
    margin-top:-149px;
}
#box19{
    background-color: #ff7637;
    width: 100px;
    height: 150px;
    margin-left: 330px;
    margin-top:-149px;
}
#box20{
    background-color: #52eb73;
    width: 100px;
    height: 150px;
    margin-left: 213px;
    margin-top:-149px;
}
#box21{
    background-color: #1ff7c1;
    width: 100px;
    height: 150px;
    margin-left: 96px;
    margin-top:-149px;
}