.row{
    width: 50%;
    height: 500px;
    background-color: aqua;
    position: relative;7
}
.col{
    width: 100px;
    height: 300px;
    border: black solid 2px;
}
.col1{
    position: absolute;
    left: 5px;
    background-color: blue;
}
.col2{
    position: absolute;
    left: 105px;
    background-color: chartreuse;
}
.col3{
    position: absolute;
    left: 205px;
    background-color: crimson;
}
.col4{
    position: absolute;
    left: 305px;
    background-color: darkkhaki;
}